/* img {
  width:25%;
  height:325%;
	margin: 1.66%;
} */

h1{
  margin:1.66%;
  color:darkgreen;
  text-align: center;
}

h3{
  margin:1.66%;
  color:darkgreen;
  text-align: center;
}

p{
  margin:1.66%;
  color:darkgreen;
}

/* CSS fcode cite
https://medium.com/better-programming/make-a-slideshow-with-automatic-and-manual-controls-using-html-css-and-javascript-b7e9305168f9
*/

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
height: 400px;
border: solid 1px black;
   
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #222428;
  font-weight: bold;
  font-size: 30px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0
}

.next {
  right: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev {
  left: -50px;
  border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.8)
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding-top: 12px;
padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #222428
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease
}

.active,
.dot:hover {
  background-color: #717171
}

/*
button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
  background-color: rgba(255, 0, 0, 1);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/*img.resize {
  max-width:50%;
  max-height:50%;
}
/*  font-family: Raleway;
	margin-left: 1.66%;
	font-size:  23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}*/


